<div>
  <div>
    <h1>
      Photo Details
    </h1>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <%= @the_photo.image %>
      </dd>
      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.owner_id %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Fans
      </dt>
      <dd>
        This is the infamous fans_list in action
      </dd>

      <dt>
        Add a fan
      </dt>
      <dd>
        You should see likes go up and the current user be pushed into fans fans_list array
      </dd>
    </dl>
  </div>
</div>


<div>
  <div>
    <h2>
      Comments
    </h2>


    <!--Add code for that renders all comments here-->

    <h3>Add a new comment</h3>
    <form action="/modify_photo/<%= @the_photo.id %>"  method="post" >
      
        <label for="comments">
          Comment
        </label>

        <textarea id="comments" placeholder="Enter a comment"></textarea>

        <input type="hidden" id="owner_id_box" name="query_owner_id" >
      <button>
        Add Comment
      </button>
    </form>
  </div>
</div>

<hr>
